html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background: #e6e7e6;
  font-family: 'Questrial', sans-serif;
  line-height: 1.6rem;
  font-size: 1.6rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.mtb-6 {
  margin: 6rem 0; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pt-4 {
  padding-top: 4rem; }

.pt-5 {
  padding-top: 5rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pb-3 {
  padding-bottom: 3rem; }

.pb-4 {
  padding-bottom: 4rem; }

.pb-5 {
  padding-bottom: 5rem; }

.pr-1 {
  padding-right: 1rem; }

.pr-2 {
  padding-right: 2rem; }

.pr-3 {
  padding-right: 3rem; }

.pr-4 {
  padding-right: 4rem; }

.pr-5 {
  padding-right: 5rem; }

.pr-6 {
  padding-right: 6rem; }

.pr-7 {
  padding-right: 7rem; }

.pr-8 {
  padding-right: 8rem; }

.pr-9 {
  padding-right: 9rem; }

.pr-10 {
  padding-right: 10rem; }

.pl-1 {
  padding-left: 1rem; }

.pl-2 {
  padding-left: 2rem; }

.pl-3 {
  padding-left: 3rem; }

.pl-4 {
  padding-left: 4rem; }

.pl-5 {
  padding-left: 5rem; }

.pl-6 {
  padding-left: 6rem; }

.pl-7 {
  padding-left: 7rem; }

.pl-8 {
  padding-left: 8rem; }

.pl-9 {
  padding-left: 9rem; }

.pl-10 {
  padding-left: 10rem; }

.text-center {
  text-align: center; }

.font-didot {
  font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; }

.font-beautiful {
  font-family: 'Beautiful People Personal Use', sans-serif; }

.button {
  padding: 1.5rem 4rem;
  font-size: 2rem; }
  .button-down {
    padding: 1rem;
    border-radius: 50%;
    font-size: 4rem; }
  .button-brown {
    color: #262525;
    background: #a99384; }
  .button-white-line {
    color: white;
    border: 1px solid; }

.line-text {
  text-align: center;
  color: #a99384;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center; }
  .line-text h2 {
    font-size: 3rem;
    width: 70%;
    border-bottom: 3px solid #e6e7e6;
    padding-bottom: 5rem; }

.cafe__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 25rem); }
  .cafe__grid-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3; }
  .cafe__grid-9 {
    grid-column: -3 / -1; }

.site__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); }

.header-about-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem; }

.about-me-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(20rem, 35rem));
  grid-auto-rows: 45rem;
  gap: 5rem; }

.about-me {
  background: white; }
  .about-me__img {
    border: 1px solid #262525; }
  .about-me h2 {
    color: #a99384;
    text-transform: capitalize;
    font-size: 3rem; }
  .about-me p {
    line-height: 2rem; }

.header {
  z-index: 10;
  background: linear-gradient(rgba(38, 37, 37, 0.582), rgba(38, 37, 37, 0.582)), url(../images/hero.jpg) top/cover;
  height: 100vh;
  position: relative; }
  .header__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: -1; }
    .header__content--box--center {
      margin-bottom: 15rem;
      margin-top: 10rem; }
    .header__content--box {
      color: white; }
      .header__content--box h2 {
        font-size: 5rem; }
      .header__content--box p {
        margin: 5rem 0;
        line-height: 2rem; }
      .header__content--box a {
        display: inline-block; }

.header-about__box--1__title {
  color: #a99384; }

.header-about__box--1 h2 {
  font-size: 4rem; }

.header-about__box--1 p {
  color: #262525;
  line-height: 2rem; }

.header-about__box--2 {
  background: #a99384;
  color: white;
  line-height: 2rem; }

.info h2 {
  text-transform: capitalize; }

.info img {
  width: 100%; }

.info p {
  line-height: 2rem; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  z-index: 10; }
  .nav img {
    width: 15rem;
    height: 5rem;
    object-fit: cover; }
  .nav ul {
    display: flex;
    list-style: none;
    gap: 2rem; }
    .nav ul .active {
      color: #e6e7e6; }
    .nav ul a {
      font-size: 2rem;
      color: white;
      transition: color 1s ease; }
      .nav ul a:hover {
        color: #a99384; }
  .nav-otherPages a {
    color: #a99384 !important; }
    .nav-otherPages a:hover {
      color: white !important; }
  .nav-otherPages .active {
    color: #262525 !important; }

.vacation__section {
  background: #e6e7e6;
  text-align: center;
  line-height: 1.7; }
  .vacation__section--content h2 {
    margin: 3rem;
    font-size: 3.5rem;
    font-weight: 300; }

.cafe__section {
  background: white; }
  .cafe__section--box {
    line-height: 1.5;
    padding: 1rem 2rem; }
    .cafe__section--box p {
      margin-bottom: 2rem; }
  .cafe__section img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.site__section {
  background: #e6e7e6;
  padding: 3rem 0; }
  .site__section--box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .site__section--box__circle {
      border: 3px solid #262525;
      height: 9rem;
      width: 9rem;
      border-radius: 50%; }
    .site__section--box p {
      margin-bottom: 2rem;
      font-size: 2.5rem; }
    .site__section--box h2 {
      font-size: 2.5rem;
      font-weight: 300; }

.footer {
  background: #a99384;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem; }
    .footer__box div {
      border: 3px solid #262525;
      height: 4rem;
      width: 4rem;
      border-radius: 50%; }
  .footer p {
    font-size: 2rem;
    font-weight: 700; }
