html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Questrial', sans-serif;
  line-height: 1.6rem;
  font-size: 1.6rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.mtb-6 {
  margin: 6rem 0; }

.text-center {
  text-align: center; }

.button {
  padding: 1.5rem 4rem;
  font-size: 2rem; }
  .button-down {
    padding: 1rem;
    border-radius: 50%;
    font-size: 4rem; }
  .button-brown {
    color: #262525;
    background: #a99384; }
  .button-black-line {
    color: #262525;
    border: 1px solid; }

.line-text {
  text-align: center;
  color: #a99384;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center; }
  .line-text h2 {
    font-size: 3rem;
    width: 70%;
    border-bottom: 3px solid #e6e7e6;
    padding-bottom: 5rem; }

.cafe__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 25rem); }
  .cafe__grid-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3; }
  .cafe__grid-9 {
    grid-column: -3 / -1; }
  .cafe__grid div {
    border: 1px solid red; }

.site__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); }

.header {
  z-index: 10;
  background: linear-gradient(rgba(255, 255, 255, 0.582), rgba(255, 255, 255, 0.582)), url(/images/hero.jpg) center center/cover;
  height: 100vh;
  position: relative; }
  .header__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: -1; }
    .header__content--box--center {
      margin-bottom: 15rem;
      margin-top: 10rem; }
    .header__content--box h2 {
      font-size: 5rem; }
    .header__content--box p {
      margin: 5rem 0;
      line-height: 2rem; }
    .header__content--box a {
      display: inline-block; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  z-index: 10; }
  .nav img {
    width: 15rem;
    height: 5rem;
    object-fit: cover;
    background: white; }
  .nav ul {
    display: flex;
    list-style: none;
    gap: 2rem; }
    .nav ul .active {
      color: #262525; }
    .nav ul a {
      font-size: 2rem;
      color: #a99384; }

.vacation__section {
  background: #e6e7e6;
  text-align: center;
  padding: 3rem;
  line-height: 1.7; }
  .vacation__section--content {
    padding-bottom: 2rem; }
    .vacation__section--content h2 {
      margin: 3rem;
      font-size: 3.5rem; }

.cafe__section--box {
  line-height: 1.5;
  padding: 1rem 2rem; }
  .cafe__section--box p {
    margin-bottom: 2rem; }

.site__section {
  background: #e6e7e6;
  padding: 3rem 0; }
  .site__section--box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .site__section--box__circle {
      border: 3px solid #262525;
      height: 9rem;
      width: 9rem;
      border-radius: 50%; }
    .site__section--box p {
      margin-bottom: 2rem;
      font-size: 2.5rem; }
    .site__section--box h2 {
      font-size: 2.5rem;
      font-weight: 300; }
