html {
  font-size: 62.5%; }

body {
  font-family: 'Questrial', sans-serif;
  line-height: 1.6rem;
  font-size: 1.6rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.button {
  padding: 1.5rem 4rem;
  font-size: 2rem; }
  .button-down {
    padding: 1rem;
    border-radius: 50%;
    font-size: 4rem; }
  .button-brown {
    color: #262525;
    background: #a99384; }
  .button-black-line {
    color: #262525;
    border: 1px solid; }

.header {
  z-index: 10;
  background: linear-gradient(rgba(255, 255, 255, 0.582), rgba(255, 255, 255, 0.582)), url(/images/hero.jpg) center center/cover;
  height: 100vh;
  position: relative; }
  .header__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    text-align: center;
    border: 1px solid red;
    height: 100%;
    width: 100%;
    z-index: -1; }
    .header__content--box--center {
      margin-bottom: 15rem;
      margin-top: 10rem; }
    .header__content--box h2 {
      font-size: 5rem; }
    .header__content--box p {
      margin: 5rem 0;
      line-height: 2rem; }
    .header__content--box a {
      display: inline-block; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0; }
  .nav img {
    width: 15rem;
    height: 5rem;
    object-fit: cover;
    background: white; }
  .nav ul {
    display: flex;
    list-style: none;
    gap: 2rem; }
    .nav ul .active {
      color: #262525; }
    .nav ul a {
      font-size: 2rem;
      color: #a99384; }
