.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem; }

.mtb-6 {
  margin: 6rem 0; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pt-4 {
  padding-top: 4rem; }

.pt-5 {
  padding-top: 5rem; }

.pt-10 {
  padding-top: 10rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pb-3 {
  padding-bottom: 3rem; }

.pb-4 {
  padding-bottom: 4rem; }

.pb-5 {
  padding-bottom: 5rem; }

.pb-10 {
  padding-bottom: 10rem; }

.pr-1 {
  padding-right: 1rem; }

.pr-2 {
  padding-right: 2rem; }

.pr-3 {
  padding-right: 3rem; }

.pr-4 {
  padding-right: 4rem; }

.pr-5 {
  padding-right: 5rem; }

.pr-6 {
  padding-right: 6rem; }

.pr-7 {
  padding-right: 7rem; }

.pr-8 {
  padding-right: 8rem; }

.pr-9 {
  padding-right: 9rem; }

.pr-10 {
  padding-right: 10rem; }

.pl-1 {
  padding-left: 1rem; }

.pl-2 {
  padding-left: 2rem; }

.pl-3 {
  padding-left: 3rem; }

.pl-4 {
  padding-left: 4rem; }

.pl-5 {
  padding-left: 5rem; }

.pl-6 {
  padding-left: 6rem; }

.pl-7 {
  padding-left: 7rem; }

.pl-8 {
  padding-left: 8rem; }

.pl-9 {
  padding-left: 9rem; }

.pl-10 {
  padding-left: 10rem; }

.text-center {
  text-align: center; }

.font-didot {
  font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; }

.font-beautiful {
  font-family: 'Beautiful People Personal Use', sans-serif; }

html {
  font-size: 43.75%;
  scroll-behavior: smooth; }
  @media (min-width: 616px) {
    html {
      font-size: 50%; } }
  @media (min-width: 768px) {
    html {
      font-size: 62.5%; } }

body {
  background: #e6e7e6;
  font-family: 'Questrial', sans-serif;
  font-size: 1.6rem; }

.hideme {
  opacity: 0;
  margin-top: -10rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.button {
  padding: 1rem;
  font-size: 2rem;
  white-space: nowrap; }
  .button-down {
    padding: 1rem;
    border-radius: 50%;
    font-size: 4rem; }
  .button-brown {
    color: #262525;
    background: #a99384; }
  .button-white-line {
    color: white;
    border: 1px solid; }
  .button-back {
    font-size: 2.5rem;
    display: inline;
    gap: .25rem;
    color: #a99384; }
  @media (min-width: 616px) {
    .button {
      padding: 1.5rem 4rem; } }

.line-text {
  text-align: center;
  color: #a99384;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center; }
  .line-text h2 {
    font-size: 3rem;
    width: 70%;
    border-bottom: 3px solid #262525;
    padding-bottom: 5rem;
    text-transform: capitalize; }

.cafe__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 25rem; }
  .cafe__grid-1 {
    grid-row: span 2 / auto;
    grid-column: 1 / -1; }
  .cafe__grid-7 {
    grid-column: 2 / 3; }
  .cafe__grid-8 {
    grid-column: -3;
    grid-row: 5; }
  .cafe__grid-9 {
    grid-column: -3 / -1; }
  @media (min-width: 616px) {
    .cafe__grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 25rem); }
      .cafe__grid-1 {
        grid-column: span 2 / auto; }
      .cafe__grid-7 {
        grid-column: unset; }
      .cafe__grid-8 {
        grid-column: unset;
        grid-row: unset; } }

.site__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr)); }

.header-about-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem; }

.about-me-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 35rem));
  grid-template-rows: 45rem auto;
  gap: 5rem; }

.galery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 35rem));
  grid-auto-rows: 30rem;
  justify-content: center;
  gap: 2rem; }

.contact-info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 50rem));
  align-items: center;
  justify-content: center;
  gap: 2rem; }

.header-detail-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 50rem));
  gap: 4rem;
  align-items: end; }

.review-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 35rem));
  justify-content: center;
  gap: 5rem;
  overflow: hidden; }

.recommend-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 24rem));
  justify-content: space-around; }

.about-me {
  background: white; }
  .about-me__img {
    border: 1px solid #262525; }
  .about-me h2 {
    color: #a99384;
    text-transform: capitalize;
    font-size: 3rem; }
  .about-me p {
    line-height: 2rem; }

.header {
  z-index: 10;
  background: linear-gradient(rgba(38, 37, 37, 0.582), rgba(38, 37, 37, 0.582)), url(../images/hero.jpg) top/cover;
  height: 100vh;
  position: relative; }
  .header__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: -1; }
    .header__content--box--center {
      margin-bottom: 15rem;
      margin-top: 10rem; }
    .header__content--box {
      color: white; }
      .header__content--box h2 {
        font-size: 5rem;
        line-height: initial; }
      .header__content--box p {
        margin: 5rem 0;
        line-height: 2rem; }
      .header__content--box a {
        display: inline-block; }

.header-about__box--1__title {
  color: #a99384; }

.header-about__box--1 h2 {
  font-size: 4rem;
  line-height: initial; }

.header-about__box--1 p {
  color: #262525;
  line-height: 2rem; }

.header-about__box--2 {
  background: #a99384;
  color: white;
  line-height: 2rem; }

.contact-header {
  list-style: none;
  display: flex;
  gap: 2rem; }
  .contact-header li {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .contact-header li div {
      background: #262525;
      height: 3rem;
      width: 3rem;
      border-radius: 50%; }

.sent-header {
  background: white; }

.header-detail {
  background: white; }
  .header-detail p {
    font-size: 2rem; }
  .header-detail__box h2 {
    color: #a99384;
    font-size: 4rem;
    text-transform: capitalize; }
  .header-detail__box p {
    line-height: 2rem; }
  .header-detail ul {
    line-height: 3rem; }
  .header-detail img {
    width: 100%;
    height: 50rem;
    object-fit: cover; }

.contact-info {
  background: white; }
  .contact-info__content h2, .contact-info__content--p {
    line-height: 2rem; }
  .contact-info__content--ul {
    list-style: none;
    line-height: 2.5rem; }
    .contact-info__content--ul__title {
      color: #a99384;
      text-transform: capitalize; }
  .contact-info form div {
    display: flex;
    gap: 2rem; }
  .contact-info form input,
  .contact-info form textarea {
    border: none;
    background: #a99384;
    resize: none;
    padding: 1.5rem 2rem;
    display: block;
    width: 100%;
    margin-bottom: 1rem; }
    .contact-info form input::placeholder,
    .contact-info form textarea::placeholder {
      text-transform: capitalize; }
  .contact-info form textarea {
    height: 10rem; }
  .contact-info form button {
    color: white;
    border: none;
    cursor: pointer; }

.info h2 {
  text-transform: capitalize; }

.info img {
  width: 100%; }

.info p {
  line-height: 2rem; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 10;
  background: rgba(38, 37, 37, 0.8); }
  .nav img {
    width: 15rem;
    height: 5rem;
    object-fit: cover; }
  @media (min-width: 616px) {
    .nav {
      background: transparent; } }
  .nav__menu {
    list-style: none;
    gap: 2rem; }
    .nav__menu--flex {
      display: none; }
      @media (min-width: 616px) {
        .nav__menu--flex {
          display: flex; } }
    .nav__menu .active {
      color: #e6e7e6; }
    .nav__menu a {
      font-size: 2rem;
      color: white;
      transition: color 1s ease; }
      .nav__menu a:hover {
        color: #a99384; }
  .nav-otherPages a {
    color: #a99384 !important; }
    .nav-otherPages a:hover {
      color: white !important; }
  .nav-otherPages .active {
    color: #262525 !important; }

@media (min-width: 616px) {
  .hambuerger-box {
    display: none !important; } }

.hamburger,
.cross {
  background: none;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: white;
  border: 0;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000; }

.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: rgba(38, 37, 37, 0.8);
  position: absolute;
  text-align: center; }
  .menu li {
    margin: 2rem 0; }
  @media (min-width: 616px) {
    .menu {
      display: none !important; } }

.vacation__section {
  background: #e6e7e6;
  text-align: center;
  line-height: 1.7; }
  .vacation__section--content h2 {
    margin: 3rem;
    font-size: 3.5rem;
    font-weight: 300; }

.cafe__section {
  background: white; }
  .cafe__section--box {
    line-height: 1.5;
    padding: 1rem 2rem; }
    .cafe__section--box p {
      margin-bottom: 2rem; }
  .cafe__section img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.review {
  background: white; }
  .review__box {
    width: 100%;
    position: relative;
    z-index: 10; }
    .review__box::after {
      content: '';
      width: 100%;
      height: 70%;
      background: #a99384;
      position: absolute;
      right: -19rem;
      top: 12rem;
      z-index: -1;
      opacity: 0.3; }
    .review__box img {
      width: 100%;
      height: 80%;
      object-fit: cover; }
  .review__content {
    z-index: 10; }
    .review__content h2,
    .review__content h3 {
      color: #a99384;
      text-transform: capitalize; }
    .review__content h2 {
      font-size: 3.5rem; }
    .review__content ul {
      list-style: none; }
      .review__content ul h3 {
        font-size: 3rem; }
      .review__content ul p {
        font-size: 2rem;
        line-height: 3rem;
        color: #262525;
        font-weight: 300; }
    .review__content--circle-box {
      display: flex;
      gap: 1rem; }
      .review__content--circle-box div {
        height: 4rem;
        width: 4rem;
        border: 1px solid #a99384;
        border-radius: 50%; }
        .review__content--circle-box div:not(:last-child) {
          background: #a99384; }

.recommend {
  text-align: center;
  border-bottom: 1px solid #262525; }
  .recommend h2 {
    color: #a99384;
    text-transform: capitalize;
    font-size: 4rem; }
  .recommend main img {
    width: 100%; }
  .recommend main p {
    color: #a99384;
    padding: 2rem 0;
    font-size: 2rem; }

.site__section {
  background: #e6e7e6;
  padding: 3rem 0; }
  .site__section--box {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem; }
    @media (min-width: 616px) {
      .site__section--box {
        display: flex;
        justify-content: center;
        align-items: center; } }
    .site__section--box__circle {
      border: 3px solid #262525;
      height: 9rem;
      width: 9rem;
      border-radius: 50%; }
    .site__section--box p {
      margin-bottom: 2rem;
      font-size: 2.5rem; }
    .site__section--box h2 {
      font-size: 2.5rem;
      font-weight: 300; }

.galery img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.galery__box {
  position: relative;
  overflow: hidden; }
  .galery__box:hover a {
    top: 0; }
  .galery__box a {
    position: absolute;
    background: rgba(38, 37, 37, 0.9);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 100%;
    transition: all 1s ease;
    color: white; }
    .galery__box a h2 {
      padding-bottom: 2rem; }

.footer {
  background: #a99384;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .footer__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem; }
    .footer__box div {
      border: 3px solid #262525;
      height: 4rem;
      width: 4rem;
      border-radius: 50%; }
  .footer p {
    font-size: 2rem;
    font-weight: 700; }
