.container {
  max-width: 1200px;
  margin: 0 auto;
}

.mtb-6 {
  margin: 6rem 0;
}

.text-center {
  text-align: center;
}

.font-didot {
  font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman,
    serif;
}

.font-beautiful {
  font-family: 'Beautiful People Personal Use', sans-serif;
}
