$color-brown: #a99384;

$color-grey: #e6e7e6;

$color-white: white;

$color-black: #262525;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 616px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
