.cafe__section {
  background: $color-white;

  &--box {
    line-height: 1.5; 
    padding: 1rem 2rem;

    p {
      margin-bottom: 2rem;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}