.footer {
  background: $color-brown;
  height: 40rem;
  @include flex-center-center;
  flex-direction: column;
  text-align: center;

  &__box {
    @include flex-center-center;
    gap: 2rem;
    margin-bottom: 2rem;

    a {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      @include flex-center-center;
      color: $color-white;
      background: $color-black;

      font-size: 2rem;
    }
  }
  p {
    font-size: 2rem;
    font-weight: 700;
  }
}
