.galery {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__box {
    position: relative;
    overflow: hidden;

    &:hover a {
      top: 0;
    }

    a {
      position: absolute;
      background: rgba($color-black, 0.9);
      height: 100%;
      width: 100%;
      @include flex-center-center;
      flex-direction: column;
      top: 100%;
      transition: all 1s ease;
      color: $color-white;
      
      h2 {
        padding-bottom: 2rem;
      }
    }
  }
}
