.cafe__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 25rem;

  &-1 {
    grid-row: span 2 / auto;
    grid-column: 1 / -1;
  }

  &-7 {
    grid-column: 2 / 3;
  }

  &-8 {
    grid-column: -3;
    grid-row: 5;
  }

  &-9 {
    grid-column: -3 / -1;
  }

  @include sm {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 25rem);

    &-1 {
      grid-column: span 2 / auto;
    }
    &-7 {
      grid-column: unset;
    }
  
    &-8 {
      grid-column: unset;
      grid-row: unset;
    }
  }
}

/////////////////////////////////

.site__grid {
  display: grid;
  grid-template-columns: 1fr;
  
  @include sm {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

/////////////////////////////////

.header-about-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

/////////////////////////////////

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
}

/////////////////////////////////

.about-me-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 35rem));
  grid-template-rows: 45rem auto;
  gap: 5rem;
}

/////////////////////////////////

.galery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 35rem));
  grid-auto-rows: 30rem;
  justify-content: center;
  gap: 2rem;
}

/////////////////////////////////
.contact-info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 50rem));
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/////////////////////////////////
.header-detail-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 50rem));
  gap: 4rem;
  align-items: end;
}

/////////////////////////////////
.review-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 35rem));
  justify-content: center;
  gap: 5rem;
  overflow: hidden;
}

/////////////////////////////////
.recommend-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 24rem));
  justify-content: space-around;
}
