.cafe__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 25rem);

  &-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
  }

  &-9 {
    grid-column: -3 / -1;
  }
}

/////////////////////////////////

.site__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

/////////////////////////////////

.header-about-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/////////////////////////////////

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
}

/////////////////////////////////

.about-me-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 35rem));
  grid-auto-rows: 45rem;
  gap: 5rem;
}

/////////////////////////////////

.galery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 35rem));
  grid-auto-rows: 30rem;
  justify-content: center;
  gap: 2rem;
}

/////////////////////////////////
.contact-info-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 50rem));
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/////////////////////////////////
.header-detail-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 50rem));
  gap: 4rem;
  align-items: end;
}

/////////////////////////////////
.review-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 35rem));
  justify-content: center;
  gap: 5rem;
}
