.cafe__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 25rem);

  &-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
  }

  &-9 {
    grid-column: -3 / -1;
  }

  div {
    border: 1px solid red;
  }
}

/////////////////////////////////

.site__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}
