.header-about {

  &__box--1 {
    &__title {
      color: $color-brown;
    }
    h2 {
      font-size: 4rem;
    }
    p {
      color: $color-black;
      line-height: 2rem;
    }
  }

  &__box--2 {
    background: $color-brown;
    color: $color-white;
    line-height: 2rem;
  }
}
