.header {
  z-index: 10;
  background: linear-gradient(
      rgba($color-black, 0.582),
      rgba($color-black, 0.582)
    ),
    url(../images/hero.jpg)  top / cover;
  height: 100vh;
  position: relative;

  &__content {
    @include flex-center-center;
    flex-direction: column;
    position: absolute;
    top: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: -1;

    &--box--center {
      margin-bottom: 15rem;
      margin-top: 10rem;
    }

    &--box {
      color: $color-white;
      h2 {
        font-size: 5rem;
        line-height: initial;
      }
      p {
        margin: 5rem 0;
        line-height: 2rem;
      }
      a {
        display: inline-block;
      }
    }
  }
}
