.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;

  h2 {
    text-transform: capitalize;
  }

  img {
    width: 100%;
  }

  p {
    line-height: 2rem;
  }
}
