.nav {
  @include flex-sb-center;
  padding: 2rem 0;
  z-index: 10;

  &-about {
    background: $color-grey;
  }

  img {
    width: 15rem;
    height: 5rem;
    object-fit: cover;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 2rem;

    .active {
      color: $color-grey;
    }

    a {
      font-size: 2rem;
      color: $color-white;
      transition: color 1s ease;

      &:hover{
        color: $color-brown;
      }
    }
  }
}
