.nav {
  @include flex-sb-center;
  padding: 2rem 0;

  img {
    width: 15rem;
    height: 5rem;
    object-fit: cover;
    background: white;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 2rem;

    .active {
      color: $color-black;
    }

    a {
      font-size: 2rem;
      color: $color-brown;
    }
  }
}
