.site__section {
  background: $color-grey;
  padding: 3rem 0;

  &--box {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    
    @include sm {
      @include flex-center-center;
    }

    &__circle {
      border: 3px solid $color-black;
      height: 9rem;
      width: 9rem;
      border-radius: 50%;
    }
    p {
      margin-bottom: 2rem;
      font-size: 2.5rem;
    }
    h2 {
      font-size: 2.5rem;
      font-weight: 300;
    }
  }
}
