.button {
  padding: 1rem;
  font-size: 2rem;
  white-space: nowrap;

  &-down {
    padding: 1rem;
    border-radius: 50%;
    font-size: 4rem;
  }

  &-brown {
    color: $color-black;
    background: $color-brown;
  }

  &-white-line {
    color: $color-white;
    border: 1px solid;
  }

  &-back {
    font-size: 2.5rem;
    display: inline;
    gap: .25rem;
    color: $color-brown;
  }

  @include sm {
  padding: 1.5rem 4rem;
  }
}
