.line-text {
  
  text-align: center;
  
  color: $color-brown;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;

  h2 {
    font-size: 3rem;
    width: 70%;
    border-bottom: 3px solid #e6e7e6;
    padding-bottom: 5rem;
  }
}
