html {
  font-size: 43.75%;
  scroll-behavior: smooth;

  @include sm {
    font-size: 50%;
  }

  @include md {
    font-size: 62.5%;
  }
}

body {
  background: $color-grey;
  font-family: 'Questrial', sans-serif;
  font-size: 1.6rem;
}
